body {
  height: 100vh;
  background: url(https://w.wallhaven.cc/full/l8/wallhaven-l8x1pr.jpg) no-repeat center center / cover;
  background-color: gray;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.glow { 
  font-size: 27px; 
  color: #1AFFB8;
  text-shadow: 0 0 10px #22A290, 0 0 20px #22A290, 0 0 30px #22A290, 0 0 40px #22A290, 0 0 50px #22A290, 0 0 60px #22A290, 0 0 70px #22A290;
}

.container {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;

    background-color: white;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
}

.internal-container {
    padding: 10px;

    display: flex;
    flex-direction: row;
}

.preview-container {
    border: 5px solid black;

    width: 100%;
    
    border-radius: 10px;
}

.result-container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    font-weight: bold;
    text-align: center;
}

.color {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    font-weight: bold;
    display: grid;
    padding: 10px;
}

.slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: gray;
    max-height: 15px;
    border-radius: 25px;
    
    opacity: 0.7;
}

.slider:hover {
    opacity: 1.0;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 20px;
    background-color: darkblue;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background-color: darkblue;
    border-radius: 25px;
    cursor: pointer;
}
